In [96]:
import seaborn as sns
import matplotlib.pyplot as plt

In [62]:
import pandas as pd

In [63]:
df=pd.read_csv("/Users/abhisheksingh/Desktop/Git-folder/Data_Sets/netflix_titles.csv",sep="|")

In [64]:
df.head()

,Unnamed: 0,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [65]:
df.columns

Index(['Unnamed: 0', 'show_id', 'type', 'title', 'director', 'cast', 'country',
       'date_added', 'release_year', 'rating', 'duration', 'listed_in',
       'description'],
      dtype='object')

In [66]:
df.index

RangeIndex(start=0, stop=8807, step=1)

In [67]:
df.describe()

        Unnamed: 0  release_year
count  8807.000000   8807.000000
mean   4403.000000   2014.180198
std    2542.506244      8.819312
min       0.000000   1925.000000
25%    2201.500000   2013.000000
50%    4403.000000   2017.000000
75%    6604.500000   2019.000000
max    8806.000000   2021.000000

In [68]:
df.columns

Index(['Unnamed: 0', 'show_id', 'type', 'title', 'director', 'cast', 'country',
       'date_added', 'release_year', 'rating', 'duration', 'listed_in',
       'description'],
      dtype='object')

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    8807 non-null   int64
 1   show_id       8807 non-null   object
 2   type          8807 non-null   object
 3   title         8807 non-null   object
 4   director      6173 non-null   object
 5   cast          7982 non-null   object
 6   country       7976 non-null   object
 7   date_added    8797 non-null   object
 8   release_year  8807 non-null   int64
 9   rating        8803 non-null   object
 10  duration      8804 non-null   object
 11  listed_in     8807 non-null   object
 12  description   8807 non-null   object
dtypes: int64(2), object(11)
memory usage: 894.6+ KB

In [70]:
df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce', infer_datetime_format=True)

/var/folders/mw/56dll0zd4hbc4hvx8xmztc1h0000gn/T/ipykernel_24188/83255498.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce', infer_datetime_format=True)

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    8807 non-null   int64
 1   show_id       8807 non-null   object
 2   type          8807 non-null   object
 3   title         8807 non-null   object
 4   director      6173 non-null   object
 5   cast          7982 non-null   object
 6   country       7976 non-null   object
 7   date_added    8709 non-null   datetime64[ns]
 8   release_year  8807 non-null   int64
 9   rating        8803 non-null   object
 10  duration      8804 non-null   object
 11  listed_in     8807 non-null   object
 12  description   8807 non-null   object
dtypes: datetime64[ns](1), int64(2), object(10)
memory usage: 894.6+ KB

In [72]:
df["rating"].head()

0    PG-13
1    TV-MA
2    TV-MA
3    TV-MA
4    TV-MA
Name: rating, dtype: object

In [73]:
df["Unnamed: 0"].head()

0    0
1    1
2    2
3    3
4    4
Name: Unnamed: 0, dtype: int64

In [74]:
df.drop("Unnamed: 0",axis=1,inplace=True)

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8709 non-null   datetime64[ns]
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 825.8+ KB

In [76]:
df.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        98
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [77]:
df["director"].ffill(inplace=True)

/var/folders/mw/56dll0zd4hbc4hvx8xmztc1h0000gn/T/ipykernel_24188/1356724359.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["director"].ffill(inplace=True)

In [78]:
df.isna().sum()

show_id           0
type              0
title             0
director          0
cast            825
country         831
date_added       98
release_year      0
rating            4
duration          3
listed_in         0
description       0
dtype: int64

In [79]:
df["country"].fillna("USA",inplace=True)

/var/folders/mw/56dll0zd4hbc4hvx8xmztc1h0000gn/T/ipykernel_24188/982717037.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["country"].fillna("USA",inplace=True)

In [80]:
df.isna().sum()

show_id           0
type              0
title             0
director          0
cast            825
country           0
date_added       98
release_year      0
rating            4
duration          3
listed_in         0
description       0
dtype: int64

In [81]:
df["cast"].mode()

0    David Attenborough
Name: cast, dtype: object

In [82]:
df["cast"].fillna("David Attenborough",inplace=True)

/var/folders/mw/56dll0zd4hbc4hvx8xmztc1h0000gn/T/ipykernel_24188/1401759537.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["cast"].fillna("David Attenborough",inplace=True)

In [83]:
df.isna().sum()

show_id          0
type             0
title            0
director         0
cast             0
country          0
date_added      98
release_year     0
rating           4
duration         3
listed_in        0
description      0
dtype: int64

In [84]:
df["date_added"].mode()

0   2020-01-01
Name: date_added, dtype: datetime64[ns]

In [85]:
df["date_added"].median()

Timestamp('2019-07-12 00:00:00')

In [86]:
df.ffill(inplace=True)

In [87]:
df.isna().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [88]:
df.shape

(8807, 12)

In [89]:
df.size

105684

In [90]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,David Attenborough,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,Kirsten Johnson,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",USA,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,Julien Leclercq,David Attenborough,USA,2021-09-24,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,Julien Leclercq,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [91]:
df["director"].unique()

array(['Kirsten Johnson', 'Julien Leclercq', 'Mike Flanagan', ...,
       'Majid Al Ansari', 'Peter Hewitt', 'Mozez Singh'],
      shape=(4528,), dtype=object)

In [92]:
directors=df["director"].value_counts()

In [107]:
directors

director
Marcus Raboy                     32
Raúl Campos, Jan Suter           23
Jay Karas                        22
Rajiv Chilaka                    22
Steve McLean                     20
                                 ..
Kongkiat Komesiri                 1
Andy Devonshire                   1
Haile Gerima                      1
Robert Cullen, José Luis Ucha     1
David Guy Levy                    1
Name: count, Length: 4528, dtype: int64

In [108]:
directors.index

Index(['Marcus Raboy', 'Raúl Campos, Jan Suter', 'Jay Karas', 'Rajiv Chilaka',
       'Steve McLean', 'Suhas Kadav', 'Youssef Chahine', 'Cathy Garcia-Molina',
       'Jay Chapman', 'Martin Scorsese',
       ...
       'Dhruv Dhawan', 'Milla Harrison-Hansley, Alicky Sussman', 'Drew Stone',
       'Benjamin Turner', 'Christian Schwochow', 'Kongkiat Komesiri',
       'Andy Devonshire', 'Haile Gerima', 'Robert Cullen, José Luis Ucha',
       'David Guy Levy'],
      dtype='object', name='director', length=4528)

In [ ]:


plot

Convert a Series to a DataFrame in common ways.

In [ ]:
# 1) Series to single-column DataFrame
directors_df = directors.to_frame(name="count")
directors_df

In [ ]:
# 2) Series with index as a column (reset index)
directors_reset = directors.reset_index()
directors_reset.columns = ["director", "count"]
directors_reset

In [ ]:
# 3) Series to DataFrame with index preserved and renamed
directors_named_index = directors.to_frame(name="count")
directors_named_index.index.name = "director"
directors_named_index